In [1]:
import pandas as pd

In [2]:
academy_awards = pd.read_csv("academy-awards.csv")

In [21]:
academy_awards.head(110000)

,Year,Ceremony,Award,Winner,Name,Film
0,1927/1928,1,Actor,NaN,Richard Barthelmess,The Noose
1,1927/1928,1,Actor,1.0,Emil Jannings,The Last Command
2,1927/1928,1,Actress,NaN,Louise Dresser,A Ship Comes In
3,1927/1928,1,Actress,1.0,Janet Gaynor,7th Heaven
4,1927/1928,1,Actress,NaN,Gloria Swanson,Sadie Thompson
...,...,...,...,...,...,...
9959,2015,88,Writing (Original Screenplay),1.0,Spotlight,Written by Josh Singer & Tom McCarthy
9960,2015,88,Writing (Original Screenplay),NaN,Straight Outta Compton,Screenplay by Jonathan Herman and Andrea Berlo...
9961,2015,88,Jean Hersholt Humanitarian Award,1.0,Debbie Reynolds,NaN
9962,2015,88,Honorary Award,1.0,Spike Lee,NaN
9963,2015,88,Honorary Award,1.0,Gena Rowlands,NaN

In [4]:
academy_awards["Award"].value_counts()

Directing                                    429
Film Editing                                 410
Actress in a Supporting Role                 400
Actor in a Supporting Role                   400
Documentary (Short Subject)                  348
                                            ...
Special Achievement Award                      3
Directing (Comedy Picture)                     2
Special Foreign Language Film Award            2
Special Achievement Award (Sound Effects)      1
Special Achievement Award (Sound Editing)      1
Name: Award, Length: 114, dtype: int64

In [22]:
academy_awards.isna().sum()

Year           0
Ceremony       0
Award          0
Winner      7643
Name           0
Film         333
dtype: int64

In [15]:
academy_awards["Ceremony"].value_counts()

15    186
14    183
16    182
17    169
13    160
     ...
5      45
4      44
3      42
2      38
1      35
Name: Ceremony, Length: 88, dtype: int64