In [1]:
import pandas as pd

In [2]:
academy_awards = pd.read_excel("academy_awards_excel.xlsx", sheet_name = 1)

In [3]:
academy_awards.head(500)

,Year,Award,Winner,Film,Nominee
0,1928,Directing (Comedy Picture),True,Two Arabian Knights,Lewis Milestone
1,1928,Directing (Comedy Picture),False,Speedy,Ted Wilde
2,1928,Directing (Dramatic Picture),True,7th Heaven,Frank Borzage
3,1928,Directing (Dramatic Picture),False,Sorrell and Son,Herbert Brenon
4,1928,Directing (Dramatic Picture),False,The Crowd,King Vidor
...,...,...,...,...,...
449,2019,Directing,True,Parasite,Bong Joon-ho\t
450,2019,Directing,False,1917,Sam Mendes\t
451,2019,Directing,False,Joker,Todd Phillips\t
452,2019,Directing,False,The Irishman,Martin Scorsese\t
453,2019,Directing,False,Once Upon a Time in Hollywood,Quentin Tarantino\t

In [4]:
academy_awards["Award"].value_counts()

Directing                       449
Directing (Dramatic Picture)      3
Directing (Comedy Picture)        2
Name: Award, dtype: int64

In [5]:
academy_awards.isna().sum()

Year       0
Award      0
Winner     0
Film       0
Nominee    0
dtype: int64

In [6]:
academy_awards["Winner"].value_counts()

False    360
True      94
Name: Winner, dtype: int64

In [9]:
academy_awards.insert(loc = 5, column = "Type", value = "Academy Award")

In [10]:
academy_awards

,Year,Award,Winner,Film,Nominee,Type
0,1928,Directing (Comedy Picture),True,Two Arabian Knights,Lewis Milestone,Academy Award
1,1928,Directing (Comedy Picture),False,Speedy,Ted Wilde,Academy Award
2,1928,Directing (Dramatic Picture),True,7th Heaven,Frank Borzage,Academy Award
3,1928,Directing (Dramatic Picture),False,Sorrell and Son,Herbert Brenon,Academy Award
4,1928,Directing (Dramatic Picture),False,The Crowd,King Vidor,Academy Award
...,...,...,...,...,...,...
449,2019,Directing,True,Parasite,Bong Joon-ho\t,Academy Award
450,2019,Directing,False,1917,Sam Mendes\t,Academy Award
451,2019,Directing,False,Joker,Todd Phillips\t,Academy Award
452,2019,Directing,False,The Irishman,Martin Scorsese\t,Academy Award
453,2019,Directing,False,Once Upon a Time in Hollywood,Quentin Tarantino\t,Academy Award

In [11]:
academy_awards.to_csv("academy_award_df.csv", index = False)