In [2]:
import pandas as pd

In [3]:
golden_globe = pd.read_csv("golden_globe_awards.csv")

In [4]:
golden_globe.head(10000)

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,1944,1,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
4,1943,1944,1,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True
...,...,...,...,...,...,...,...
7986,2019,2020,77,Best Performance by an Actor in a Supporting R...,Kieran Culkin,Succession,False
7987,2019,2020,77,Best Performance by an Actor in a Supporting R...,Andrew Scott,Fleabag,False
7988,2019,2020,77,Best Performance by an Actor in a Supporting R...,Henry Winkler,Barry,False
7989,2019,2020,77,Cecil B. deMille Award,Tom Hanks,NaN,False
7990,2019,2020,77,Carol Burnett Award,Ellen DeGeneres,NaN,False

In [5]:
golden_globe["win"].value_counts()

False    6166
True     1825
Name: win, dtype: int64

In [6]:
golden_globe["ceremony"].value_counts()

30    150
34    141
40    137
36    132
59    131
     ...
6      13
4       8
3       7
1       6
2       6
Name: ceremony, Length: 77, dtype: int64

In [7]:
golden_globe = golden_globe.drop(columns = "ceremony")

In [8]:
golden_globe = golden_globe.drop(columns = "year_award")

In [9]:
golden_globe.head()

,year_film,category,nominee,film,win
0,1943,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,Picture,The Song Of Bernadette,NaN,True
4,1943,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [10]:
golden_globe = golden_globe.rename(columns = {"year_film" : "Year", "category": "Category", "nominee": "Nominee", "film": "Film", "win": "Winner"})

In [11]:
golden_globe.head()

,Year,Category,Nominee,Film,Winner
0,1943,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,Picture,The Song Of Bernadette,NaN,True
4,1943,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [12]:
golden_globe["Film"].isna().sum()

1800

In [13]:
((golden_globe["Category"].str.contains("Director")) & (golden_globe["Film"].isna())).sum()

0

In [14]:
golden_globe

,Year,Category,Nominee,Film,Winner
0,1943,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,Picture,The Song Of Bernadette,NaN,True
4,1943,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True
...,...,...,...,...,...
7986,2019,Best Performance by an Actor in a Supporting R...,Kieran Culkin,Succession,False
7987,2019,Best Performance by an Actor in a Supporting R...,Andrew Scott,Fleabag,False
7988,2019,Best Performance by an Actor in a Supporting R...,Henry Winkler,Barry,False
7989,2019,Cecil B. deMille Award,Tom Hanks,NaN,False
7990,2019,Carol Burnett Award,Ellen DeGeneres,NaN,False

In [24]:
golden_globe_directors = golden_globe[golden_globe["Category"].str.contains("Director")]

In [25]:
golden_globe_directors

,Year,Category,Nominee,Film,Winner
2,1943,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
8,1944,Best Director - Motion Picture,Leo McCarey,Going My Way,True
14,1945,Best Director - Motion Picture,Billy Wilder,The Lost Weekend,True
21,1946,Best Director - Motion Picture,Frank Capra,It's A Wonderful Life,True
29,1947,Best Director - Motion Picture,Elia Kazan,Gentleman's Agreement,True
...,...,...,...,...,...
7904,2019,Best Director - Motion Picture,Sam Mendes,1917,True
7905,2019,Best Director - Motion Picture,Bong Joon Ho,Parasite,False
7906,2019,Best Director - Motion Picture,Todd Phillips,Joker,False
7907,2019,Best Director - Motion Picture,Martin Scorsese,"Irishman, The",False
7908,2019,Best Director - Motion Picture,Quentin Tarantino,Once Upon a Time...in Hollywood,False

In [26]:
golden_globe_directors["Category"].str.contains("Director").value_counts()

True    358
Name: Category, dtype: int64

In [28]:
golden_globe_directors.insert(loc = 5,column = "Type", value = "Golden Globe")

In [29]:
golden_globe_directors

,Year,Category,Nominee,Film,Winner,Type
2,1943,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True,Golden Globe
8,1944,Best Director - Motion Picture,Leo McCarey,Going My Way,True,Golden Globe
14,1945,Best Director - Motion Picture,Billy Wilder,The Lost Weekend,True,Golden Globe
21,1946,Best Director - Motion Picture,Frank Capra,It's A Wonderful Life,True,Golden Globe
29,1947,Best Director - Motion Picture,Elia Kazan,Gentleman's Agreement,True,Golden Globe
...,...,...,...,...,...,...
7904,2019,Best Director - Motion Picture,Sam Mendes,1917,True,Golden Globe
7905,2019,Best Director - Motion Picture,Bong Joon Ho,Parasite,False,Golden Globe
7906,2019,Best Director - Motion Picture,Todd Phillips,Joker,False,Golden Globe
7907,2019,Best Director - Motion Picture,Martin Scorsese,"Irishman, The",False,Golden Globe
7908,2019,Best Director - Motion Picture,Quentin Tarantino,Once Upon a Time...in Hollywood,False,Golden Globe

In [30]:
golden_globe_directors.to_csv("golden_globe_df.csv", index = False)